.temoignage.custom-block {
  .temoignage-image-container {
    max-width: 300px;
  }
  .temoignage-auteur {
    font-size: 20px;
  }
  .temoignage-content {
    font-style: italic;
    position: relative;
    margin: 20px 36px;
    &:before, &:after {
      display: inline-block;
      position: absolute;
      font-family: "iconsfont";
    }
    &:before {
      content: $icons-quotel;
      left: -36px;
    }
    &:after {
      content: $icons-quoter;
      right: -30px;
    }
  }

  @include desktop {
    display: flex;
    align-items: center;
  }
}