// =============================================================================
// This file contains all application-wide Sass mixins
// =============================================================================
// NB : Utiliser les placeholders plutôt que mixin quand on n'a pas besoin de passer de variables
// Interet : DRY (Don't Repeat Yourself)

// FONT SIZE
// -----------------------------------------------------------------------------
// Set a rem font size with pixel fallback
// base font-size in pixiscreen is equiv "10px" : font-size:62.5% which is adapted to rem unit
@mixin font-size($size) {
  font-size: ($size * 1px); // Will be overridden if browser supports rem
  font-size: ($size / 10) * 1rem;
}
// USAGE : Give value in px unit
// p {
//   @include font-size(16);
// }

// Rem output with px fallback
// @mixin font-size($sizeValue: 1) {
// 	font-size: ($sizeValue * 16) * 1px;
// 	font-size: $sizeValue * 1rem;
// }

// OPACITY cross-browser compatibility for IE5 to IE8
// -----------------------------------------------------------------------------

// 1. for IE 5, 6 and 7
// 2. for IE8
// @param $opacity :  A number between 0 and 1, where 0 is transparent and 1 is opaque.
// @link https://books.google.fr/books?id=aL8cBwAAQBAJ&pg=PA136&lpg=PA136&dq=filter:+progid:DXImageTransform.Microsoft.Alpha(Opacity%3D$value);&source=bl&ots=b1OfNHTWZC&sig=ImN2hrLS1XLrZ-t1393G9XBztFM&hl=fr&sa=X&ved=0ahUKEwid-bbdwc_UAhUlDcAKHe4wAxQQ6AEIPjAD#v=onepage&q=filter%3A%20progid%3ADXImageTransform.Microsoft.Alpha(Opacity%3D%24value)%3B&f=false
// https://css-tricks.com/rgba-browser-support/

@mixin opacity($value) {
  $opacity-ie: ($value * 100);
  filter: alpha(opacity=#{$opacity-ie}); /* 1 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity-ie})"; /* 2 */
  opacity: $value;
}
// USAGE
// p {
//   @include opacity(0.1);
// }

// Center block (see later if it's better in placeholder !)
// -----------------------------------------------------------------------------
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// USAGE :
//
// .aligncenter {
//   @include center-block;
// }
//


/** Table **/
@mixin table {
  display: table;

  & > * {
    display: table-cell;
    vertical-align: middle;
  }
}

/** WIDTH SITE auto responsive **/
//$large-desktop-width: 1280px; //80em;
//$desktop-width: 960px; // 60em;
//$tablet-width:  580px; // 36.250em;
//$phone-width: 90%;

@mixin width-site {
  max-width: $phone-width;

  @include large-desktop {
    max-width: $large-desktop-width;
  }

  @include desktop {
    min-width: $desktop-width;
  }

  @include tablet {
    min-width: $tablet-width;
  }
}

/** RESPONSIVE BREAKPOINTS **/


// global //
@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width + 20}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width + 20}) {
    @content;
  }
}

// only //
@mixin large-desktop-only {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: #{$desktop-width + 20}) and (max-width: #{$large-desktop-width - 1}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$tablet-width + 20}) and (max-width: #{$desktop-width + 19}) {
    @content;
  }
}

@mixin phone-only {
  @media (max-width: #{$tablet-width + 19}) {
    @content;
  }
}
// max //
@mixin desktop-max {
  @media (max-width: #{$large-desktop-width - 1}) {
    @content;
  }
}

@mixin tablet-max {
  @media (max-width: #{$desktop-width + 19}) {
    @content;
  }
}

@mixin phone-max {
  @media (max-width: #{$tablet-width + 19}) {
    @content;
  }
}


// custom //
@mixin responsive($width) {
  @media (min-width: #{$width}) {
    @content;
  }
}

/** RETINA **/

@mixin retina {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    @content;
  }
}

/** ICONS **/
@mixin icons($icon) {
  content: $icon;
  font-family: $font-icon;

  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** FORMS **/
@mixin placeholder {
  &::placeholder  {
    @content
  }
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}
// USAGE :
//
//input,
//textarea {
//  @include input-placeholder {
//    color: $grey;
//  }
//}


/** Pseudo element **/
@mixin pseudo-elem($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}
// USAGE :
//
//div::after {
//  @include pseudo-elem;
//  top: -1rem; left: -1rem;
//  width: 1rem; height: 1rem;
//}


/** Responsive ratio
use this for creating scalable elements (usually images / background images) that maintain a ratio
**/
@mixin responsive-ratio($x,$y, $pseudo: false) {
  $padding: unquote( ( $y / $x ) * 100 + '%' );
  @if $pseudo {
    &:before {
      @include pseudo-elem($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}
// USAGE :
//
//div {
//  @include responsive-ratio(16,9);
//}