// =============================================================================
// This file contains all application-wide placeholders.
// =============================================================================
// NB : Utiliser les placeholders plutôt que mixin quand on n'a pas besoin de passer de variables
// Interet : DRY (Don't Repeat Yourself)

// PLACEHOLDER FOR CLEARFIX , works in IE6 and up. from Nicolas Gallagher
// -----------------------------------------------------------------------------
// @link http://nicolasgallagher.com/micro-clearfix-hack/
// @link https://www.alsacreations.com/article/lire/76-haslayout-internet-explorer.html

// For IE 6/7 only
// 1. Include this rule to trigger hasLayout and contain floats. Remove this line if not necessary
//
// For modern browsers and IE8 and up
// 2. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 3. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.


%clearfix {
  *zoom: 1; // 1
  &:before, &:after {
    content: " "; // 2
    display: table; // 3
  }
  &:after {
    clear: both;
  }
}

// USAGE :
//
// .container-with-floated-children {
//   @extend %clearfix;
// }
//
// Clearfix for media query must be inside media query
// @media screen and (min-width: 740px) {
//  %clearfix {
//    *zoom: 1;
//    &:before, &:after {
//      content: " ";
//      display: table;
//    }
//    &:after {
//      clear: both;
//    }
//  }
// }


// PLACEHOLDER FOR BREAK-WORD
// @link https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
// -----------------------------------------------------------------------------
%breakword {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-word-wrap: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
// USAGE :
//
// .widget {
//   @extend %breakword;
// }
//