// =============================================================================
// This file contains all application-wide Sass variables.
// =============================================================================

//-------------------------------------------------------------
// BASICS COLORS
//-------------------------------------------------------------
$color__like-black: #000;
$color__like-white: #fff;

$color__x-light-grey: #fafafa;
$color__light-grey: #F5F4F4;
$color__grey: #6a6a6a;
$color__dark-grey: #464646;
$color__red: #e33134;
$color__green: #6dde2c;

$color__facebook: #3b5998;
$color__twitter: #00acee;

//-------------------------------------------------------------
// THEME COLORS
//-------------------------------------------------------------

//Adapt to the theme
$color__water-blue: #0e9cb6;
$color__marigold: #ffcb00;
$color__very-light-pink: #f0eded;

$color__primary: $color__water-blue;
$color__secondary: $color__marigold;
$color__complementary: $color__very-light-pink;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__background-button: #e6e6e6;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__text-dark: $color__like-black;
$color__text-light: $color__dark-grey;


//-------------------------------------------------------------
// TYPOGRAPHY
//-------------------------------------------------------------
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__main: 'Roboto-Regular', sans-serif;
$font__text: $font__main;
$font__title: $font__main;

$font-icon: 'iconsfont';

$font__line-height-body: 1.5; // usually 1.5
$font__line-height-pre: 1.6;

//-------------------------------------------------------------
// MEDIA QUERY
//-------------------------------------------------------------
//http://pxtoem.com/
$large-desktop-width: 1280px; //80em;
$desktop-width: 960px; // 60em;
$tablet-width:  580px; // 36.250em;
$phone-width: 90%;

//-------------------------------------------------------------
// WRAPPER
//-------------------------------------------------------------
$wrapper-padding: 20px;
$wrapper-width: calc(100% - #{$wrapper-padding} * 2 );