/**
Abstracts
  - variables
  - placeholders
  - mixins
 */

/*==============================================================
# Css shared comes from placeholder.scss to be DRY
==============================================================*/
@import 'abstracts/variables';
@import 'abstracts/placeholders';
@import 'abstracts/mixins';

/* #.1 Normalize and reset soft
--------------------------------------------------------------*/
@import 'bases/reset';
@import 'bases/normalize';
@import 'bases/box-model';

/* #.2 Typography and Fonts
--------------------------------------------------------------*/
//réparer iconfont
@import 'bases/fonts';
@import 'bases/typography';
//@import 'bases/iconsfont';

/* #.3 Elements
--------------------------------------------------------------*/
@import 'bases/elements';
@import 'bases/accessibility';
@import 'bases/ux';
@import 'bases/wp-classes';
@import 'bases/override-gut-style';
@import 'bases/forms';
@import 'partials/newnav';


/*==============================================================
# Components
==============================================================*/
@import 'components/class-helper';

/*==============================================================
# Layout
==============================================================*/
// uniquement en dev identification des différents elements de structure du theme
@import 'dev/elements-bg-colors';


@import 'layout/base';
@import 'layout/flex-grid-custom';
@import 'layout/header';
@import 'layout/footer';

/*==============================================================
# Modules
==============================================================*/
@import 'modules/main-menu';
@import 'modules/site-branding';
@import 'modules/comments';
@import 'modules/back-to-top';
@import 'modules/breadcrumb';
@import 'modules/search-form';

/*==============================================================
# Pages
==============================================================*/


/*==============================================================
# Blocks Gutenberg custom
==============================================================*/
// Le style des blocks est à part pour pouvoir être utilisé aussi en back end dans l'éditeur
// Voir custom-block-acf.scss
//@import "custom-block-acf";
