// Styles pour l'editeur en back office pour s'approcher au mieux du rendu en front
// Les styles des blocks customs conçus avec acf ne suffisent pas forcément.

// Base nécessaire
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'bases/iconsfont';

// exemple rendu des boutons
//.btn {
//  border-radius: 27.5px;
//  display: inline-block;
//  height: 45px;
//  line-height: 45px;
//  padding: 0 25px;
//  text-transform: uppercase;
//}
