/* Add here you classes usefull all over the theme */
.btn {
  display: inline-block;
  text-transform: uppercase;
  border-radius: 27.5px;
  padding: 0 25px;
  height: 45px;
  line-height: 45px;
  @include font-size(14);
  text-decoration: none;
}

.overlay, .dark-overlay, .yellow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.50);
}

.bold {
  font-weight: bold;
}