/* Layout de base
--------------------------*/
/* Toujours occuper toute la hauteur d'écran quelquesoit le contenu (peu de contenu dans .site-content) */
// pousser le footer vers le bas
#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.admin-bar {
  #page {
    min-height: calc(100vh - 32px);
  }
}
.site-content {
  flex-grow: 1;
}

/*Gestion d'une sidebar sur le coté si elle existe */
@include desktop {
  .container {
    display: flex;
  }
  .primary {
    flex: 1;
  }
  .secondary {
    width: 320px;
  }
}




/* Class utilisable pour une contrainte de largeur */
// Certaines portions du site ne sont pas éditées via l'éditeur Gutenberg
// et nécéssitent une contrainte ponctuelle directement dans l'html
//$wrapper-padding: 20px;
//$wrapper-width: calc(100% - #{$wrapper-padding} * 2 );
.wrapper {
  width: 100%;
  padding-left: calc(50% - #{$wrapper-width} / 2);
  padding-right: calc(50% - #{$wrapper-width} / 2);
}
@media only screen and (min-width: 1280px) {
  .wrapper {
    width: 100%;
    padding-left: calc(50% - 1280px / 2);
    padding-right: calc(50% - 1280px / 2);
  }
}

// Ajouter une contrainte de largeur pour le contenu édité via l'éditeur Gutenberg.
// pour "déborder" à 1120px ou pleine largeur, appliquer les classes .alignwide ou .alignfull avec l'option disponible sur les blocs
.entry-content {
  //max-width: 920px; // 1120px - (2*100px) 1020px donnant la largeur alignwide à mettre de côté pour le moment
  //margin: 0 auto 40px;
  //padding-left: 20px;
  //padding-right: 20px;
}

/* Limiter la taille des vidéos (voir le script FitVids)*/
.fluid-width-video-wrapper {
  z-index: -1;
  max-width: 1080px;
}
