/* Flexbox Grid System */
/* Mobile First : by default until screen 600px : nothing special */
/* Two images per row */
@include tablet {
  .flex-grid {
    display: flex;
    flex-flow: row wrap;
    margin-left: -20px; /* removes margin-left item on the left */
  }
  .flex-grid > * {
    margin-left: 20px; /* used like gutter */
    margin-bottom: 20px; /* used like gutter */
    width: calc(50% - 20px);
  }
}
/* Three images per row */
@include desktop {
  .flex-grid > * {
    width: calc(33.33% - 20px);
  }
}

/* Two images per row */
@include tablet {
  .flex-grid-2-4 {
    display: flex;
    flex-flow: row wrap;
    margin-left: -20px; /* removes margin-left item on the left */
  }
  .flex-grid-2-4 > * {
    margin-left: 20px; /* used like gutter */
    //margin-bottom: 20px; /* used like gutter */
    width: calc(50% - 20px);
  }
}
/* Four images per row */
@include desktop {
  .flex-grid-2-4 > * {
    width: calc(25% - 20px);
  }
}

/* uniquement pour desktop 3 colonnes */
@include desktop {
  .flex-grid-only3 {
    display: flex;
    flex-flow: row wrap;
    margin-left: -20px; /* removes margin-left item on the left */
  }
  .flex-grid-only3 > * {
    margin-left: 20px; /* used like gutter */
    margin-bottom: 20px; /* used like gutter */
    width: calc(33.33% - 20px);
  }
}
