.site-branding {
margin-left: 20px;
}

@include large-desktop {
  .header-main .wrap {
    display: flex;
    align-items: center; // alignement du logo et de la nav
    justify-content: space-between; // pousser sur les bords gauche et droit
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
  }
  .site-branding {
    position: relative;
    margin: 0 10px;
  }
  .site-navigation {
    margin-right: 20px;
  }
}