#button-backtotop {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $color__primary;
  color: white;
  cursor: pointer;
  padding: 12px 15px;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: -1px 1px 7px rgba(0,0,0,.3);
  &:hover {
    background-color: #555;
  }
  &:after {
    // !!! réparer  iconfont pour décommenter !!!
    //content: $icons-chevron;
    display: inline-block;
    transform: rotate(-90deg);
    font-family: iconsfont;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: $color__like-white;
    font-size: 12px;
    vertical-align: middle;
  }
}