/* Le menu principal
--------------------------*/
/* General */
.site-navigation {
  // Seulement le premier ul
  .menu-items > li > a, .menu-items > li > span {
    text-transform: uppercase;
    @include font-size(16);
  }
  .sub-menu {
    li {
      white-space: nowrap; // +
      a, span {
        @include font-size(14);
      }
    }
  }
  .menu-item {
    a {
      color: $color__like-black;
      &:hover, &:focus {
        color: $color__primary;
        cursor: pointer;
      }
    }
    span { // Lien courant a transformés en span
      color: $color__like-black;
      &:hover, &:focus {
        cursor: pointer;
      }
    }
  }
  .current-menu-item, .current-menu-parent {
    span {
      color: $color__primary;
    }
  }
  .current_menu_ancestor {
    a {
      color: $color__primary;
    }
  }
}

/* Menu Mobile first
=====================*/
#header {
  position: relative; // pour positionner le burger menu
}
// Burger menu
.menu-link {
  position: absolute;
  top: 2em;
  right: 0;
  display: block;
  padding: 1em;
}

// Apparence du burger menu
//-------------------------
// 3 barres qui, si menu déroulé, se positionnent en croix pour fermer le menu
#burger-menu {
  border: 0;
  background: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 20px;
}
.menu-bar {
  display: inline-block;
  width: 24px;
  height: 3px;
  border-radius: 1.5px;
  background: $color__primary;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  &:before, &:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 3px;
    border-radius: 1.5px;
    background: $color__primary;
    transition: 0.5s;
  }
  &:before {
    top: -9px;
    left: 0;
  }
  &:after {
    top: 9px;
    left: 0;
  }
}

.menu-link.active .menu-bar {
  background: transparent;
  &:before {
    top: 0;
    transform: rotate(45deg);
  }
  &:after {
    top: 0;
    transform: rotate(135deg);
  }
}

// Le menu de navigation
//----------------------
.site-navigation {
  clear: both;
  transition: all 0.3s ease-out;
  display:none;
  //&.active, {
  //  position: relative;
  //  display:block;
  //}
  &.burger-toggled, {
    position: relative;
    display:block;
  }
  ul {
    margin: 0;
    padding: 0;
    //list-style: none; //A revoir
    li {
      margin: 0;
      padding: 0;
    }
  }
  li {
    a {
      text-decoration: none;
      //display: inline-block;
      //padding: 12px 0;
    }
    //span {
    //  display: inline-block;
    //  padding: 12px 0;
    //}
    a, span {
      display: block;
      padding: 0.8em;
      //max-width: 270px;
    }
  }
  //.sub-menu {
  //  display: block;
  //}
}


@include large-desktop {
  #header {
    //height: 100px;
  }
  // Afficher le menu
  .site-navigation {
    display:inline-block;
    margin-right: 40px;
    .sub-menu {
      display: none;
    }
  }
  // menu burger
  .menu-link {
    display: none;
  }

  .site-navigation {
    li {
      display: inline-block;
      a, span {
        padding: 12px;
        display: block;
      }
      span {
        display: block; // pour affichage sous menu
      }
    }
    .menu-item-has-children {
      &:hover {
        .sub-menu {
          display: block;
          position: absolute;
          background-color: $color__complementary;
          z-index: 9;
          text-transform: uppercase;
          @include font-size(14);
          li {
            display: block;
          }
          .menu-item-has-children {
            .sub-menu {
              display: none;
            }
            &:hover {
              .sub-menu {
                display: block;
                max-width: 100em;
                min-width: 100%;
                position: absolute;
                left: 100%;
                margin: 0;
                top: 0;
              }
            }
          }
        }
      }
    }
  }
}
