.search-form {
  .searchbar-container {
    display: flex;
    width: 100%;
    .search-field{
      flex: 1;
      font-size: 14px;
      &:focus {
        background-color: $color__like-white;
        color: $color__primary;
        outline: 0;
      }
    }
    ::placeholder {
      color: lighten($color__text-input, 25%);
      opacity: 1;
    }
  }
  button.search-submit {
    //background: transparent;
    //border: none;
  }
  .search-submit:before {
    // !!! réparer iconfonts pour décommenter !!!

    //@include icons($icons-loupe);
  }
}
