.site-branding {
  // Apparence identique du titre du site qu'il soit un h1 ou un lien
  .site-title {
    @include font-size(30);
    margin: 0;
    a {
      color: $color__text-dark;
      font-weight: bold;
    }
  }
  .site-description {
    margin: 0;
  }
}