.header-main {
  background-color: pink;
}

.site-content {
  background-color: #ececec;
}
.breadcrumb-area {
  background-color: #84b34e;
}
.primary {
  background-color: lightblue;
}
.secondary {
  background-color: #ffec74;
}

// Le footer est toujours poussé vers le bas de l'écran quelquesoit la taille du contenu principal .primary
.site-footer {
  background-color: #af94e0;
}