/*--------------------------------------------------------------
  Box Model
--------------------------------------------------------------*/
/**
 * Set up a decent box model on the root element
 * @link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 * 1. Inherit box-sizing to make it easier to change the property for components that leverage other behavior
 */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after { /* 1 */
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

#page {
  overflow: hidden;
}