/* --- STYLES DE BASE SUPPLÉMENTAIRES --- */

/* Met en évidence les abréviations (ayant un attribut title) */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* Met en évidence les citations */
blockquote {
  //margin: .75em 0 .75em 20px;
  //padding: 0 0 0 10px;
  //border-left: solid 2px #ddd;
}
q, cite {
  font-style: italic;
}
q cite, q q {
  font-style: normal
}

/* Supprime les guillemets automatiques (citations courtes) */
q {
  quotes: none;
}
q:before, q:after {
  content: ""; /* Nécessaire pour Safari/Chrome */
}

/* Styles de base pour les listes de définition */
dl {
  margin: .75em 0;
}
dt {
  margin: .75em 0 0 0;
  font-weight: bold;
}
dd {
  margin: .25em 0 .25em 32px;
}

/* Mise en forme simple pour les tableaux */
table {
  margin: 0;
  border: 1px solid gray; /* Pas de bordure = "none". */
  border-collapse: collapse; /* Valeur par défaut: "separate". */
  border-spacing: 0;
}
table td, table th {
  padding: 4px; /* Pas de retrait autour du texte = "0". */
  border: 1px solid #ccc; /* Pas de bordure = "none". */
  vertical-align: top; /* Valeur par défaut: "middle" */
}

/* Conteneurs sémantiques de HTML 5 */
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section {
  display: block;
}

hr {
  height: 3px;
  color: $color__x-light-grey;
  background-color: $color__x-light-grey;
  margin: 60px 0;
  border: 0;
}

.sep {
  background-color: #eee;
}

@media screen and (max-width:400px) {
  @-webkit-viewport {
    width:device-width
  }

  @-moz-viewport {
    width:device-width
  }

  @-ms-viewport {
    width:device-width
  }

  @-o-viewport {
    width:device-width
  }

  @viewport {
    width:device-width
  }
}

button:hover,input[type="submit"]:hover {
  cursor:pointer
}

/* empêcher le zoom du texte sur browse mobile */
body {
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:none
}
