// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
// https://google-webfonts-helper.herokuapp.com/fonts/roboto?subsets=latin
/* roboto-regular - latin */
@font-face {
  //font-family: 'Roboto';
  //font-style: normal;
  //font-weight: 400;
  //src: url('../font/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  //src: local('Roboto'), local('Roboto-Regular'),
  //url('../../build/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //url('../../build/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  //url('../../build/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
  //url('../../build/fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  //url('../../build/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');