@font-face {
  font-family: 'iconsfont';
  font-weight: normal;
  font-style: normal;
  src: url('../icons/font/iconsfont.eot');
  src: url('../icons/font/iconsfont.woff2') format('woff2'),
  url('../icons/font/iconsfont.woff') format('woff'),
  url('../icons/font/iconsfont.ttf') format('truetype'),
  url('../icons/font/iconsfont.eot?#iefix') format('embedded-opentype');
}

[class^="icons-"],
[class*=" icons-"] {
  display: inline-block;
  speak: none;
  font-family: 'iconsfont';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons-chevron: '\EA01';
$icons-loupe: '\EA02';
$icons-quotel: '\EA03';
$icons-quoter: '\EA04';

.icons-chevron:before { content: $icons-chevron; }
.icons-loupe:before { content: $icons-loupe; }
.icons-quotel:before { content: $icons-quotel; }
.icons-quoter:before { content: $icons-quoter; }