/**
Modifier les styles de base de Gutenberg en front
https://www.billerickson.net/wordpress-color-palette-button-styling-gutenberg/
 */

// Gutenberg color options
// -- see editor-color-palette in inc/gutenberg-settings.php (functions.php)
$colors: (
  'white' : $color__like-white,
  'black' : $color__like-black,
  'grey' : $color__grey,
);

@each $name, $color in $colors {
  .has-#{$name}-color {
    color: $color !important;
  }
  .has-#{$name}-background-color {
    background-color: $color !important;
  }
}

//// Video
//.wp-block-embed.is-type-video {
//  max-width: 700px;
//  margin: 3em auto;
//}

// Make sure media & text blocks always stack image, then text on mobile
@media screen and (max-width: 600px) {
  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__media {
    grid-row: 1;
  }
  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content {
    grid-row: 2;
  }
  .wp-block-media-text .wp-block-media-text__media {
    margin-bottom: 20px;
  }
}

