/* ----------------------------- */
/* ==reset */
/* ----------------------------- */

/* alternate font-sizing */
.smaller {
  font-size: .7143em; /* equiv 10px */
  line-height: 2.1em;
}
.small {
  font-size: .8571em; /* equiv 12px */
  line-height: 1.75em;
}
.big {
  font-size: 1.1429em; /* equiv 16px */
  line-height: 1.3125em;
}
.bigger {
  font-size: 1.2857em; /* equiv 18px */
  line-height: 1.1667em;
}
.biggest {
  font-size: 1.4286em; /* equiv 20px */
  line-height: 1.05em;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
  //word-wrap: break-word;
  //-webkit-hyphens: auto;
  //-moz-hyphens: auto;
  //-ms-hyphens: auto;
  //-o-hyphens: auto;
  //hyphens: auto;
}

/* pictures */
img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a img { border: 0; }