// -----------------------------------------------------------------------------
// This file contains global basic styles for typography.
// -----------------------------------------------------------------------------
html {
  /* set base font-size to equiv "10px", which is adapted to rem unit
   ~10px = 16px(default) * 0.625 */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  /* thanks to  @7studio and @dawitti */
  font-size: calc(1em * .625);
  /* Keeps page centered in all browsers regardless of content height */
  overflow-y: scroll;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -webkit-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  -ms-text-size-adjust:     100%;
}

body {
  @include font-size(16);
  font-family: $font__main;
  color: $color__text-dark;
  line-height: $font__line-height-body;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
}
h1, h2, h3,
.likeh1, .likeh2, .likeh3 {
  font-family: $font__title;
}
.likeh1, .likeh2 {
  font-weight: 700;
}
h1 {
  @include font-size(22);
  @include tablet {
    @include font-size(26);
  }
  @include desktop {
    @include font-size(44);
  }
}
h2 {
  @include font-size(18);
  @include tablet {
    @include font-size(22);
  }
  @include desktop {
    @include font-size(30);
  }
  color: $color__water-blue;
}
h3 {
  @include font-size(20);
  @include tablet {
    @include font-size(20);
  }
  @include desktop {
    @include font-size(24);
  }
  color: $color__water-blue;
}
h4 {
  @include font-size(16);
  @include desktop {
    @include font-size(18);
  }
}
h5 {
  @include font-size(16);
  @include desktop {
    @include font-size(18);
  }
}
h6 {
  @include font-size(16);
}

p {
  margin-bottom: 1.5em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: $color__x-light-grey;
  font-family: $font__pre;
  @include font-size(14);
  line-height: $font__line-height-pre;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: $font__code;
  @include font-size(14);
}

abbr, acronym {
  border-bottom: 1px dotted #666666;
  cursor: help;
}

mark, ins {
  background: #FFF9C0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

a {
  color: $color__primary;
  text-decoration: none;
}
.custom-block, .posts-wrapper {
  a {
    text-decoration: none;
  }
}
